include "~/.nano/*.nanorc"

# Make F12 do a spell check
set speller "aspell -x -c"
# If your distro doesn't have syntax by default
# include "/usr/share/nano/*.nanorc"
# Mouse selection
#set mouse
#set quickblank
# Thou shalt indent with four spaces
set tabsize 8
#set tabstospaces
# Keep indent levels
set autoindent
# Delete selected text with backspace
set zap
# Use regex in the search by default
set regexp
# Save cursor and search position
set positionlog
set historylog
# Open files into new buffers by default
set multibuffer
# Home skips whitespace
set smarthome
# Soft wrap lines
#set softwrap
#set atblanks
# Use a more lightweight statusbar
#set minibar
#set nohelp
# Line numbers
#set linenumbers
# Nicer colors
set titlecolor bold,green,lightblack
set numbercolor bold,green,black
set selectedcolor bold,green,lightblack
set statuscolor bold,green,lightblack
set promptcolor bold,green,lightblack
set spotlightcolor bold,green,lightblack
set functioncolor bold,green,black
set errorcolor bold,red,lightblack
set keycolor bold,black,green
